
@font-face {
	font-family: 'Open Sans Regular';
	src: url('../fonts/openSans/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
	url('../fonts/openSans/opensans-variablefont_wdthwght-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Italic';
	src: url('../fonts/openSans/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
		url('../fonts/openSans/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/openSans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/openSans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Extra Bold';
    src: url('../fonts/openSans/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/openSans/OpenSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}