.container {
	text-align: center;
	margin: 50px auto;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 50px;
	box-shadow: 1px 1px 2px 1px rgba(128, 128, 128, 0.608);
	width: 50%;
}

.container h1 {
	padding: 100px;
	margin: 0 auto;
}

.container li {
	display: inline;
	text-align: center;
	padding: 20px;
	list-style: none;
}

.container a {
	position: relative;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.703);
	font-weight: 700;
	font-size: 28px;
}

.container a::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 3px;
	width: 0;
	background-color: #030303;
	transition: width 1s ease-out;
}

.container a:hover::before {
	width: 100%;
	transition: width 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}