div {
    display: inline-block;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue
}

.red {
    background-color: red;
}

.purple {
    background-color: purple
}

.orange {
    background-color: orange
}

body {
    width: 30%
}