<main>
	<div class="container">
		<div class="col-9">
			{{#if photo}}
			<div class="card">
				{{#each photo}}
					{{>photo}}
				{{/each}}
			</div>
			{{else}}
			<article class="not-available-photo">
				<h1>No photo posts yet.</h1>
			</article>
			{{/if}}
		</div>

	</div>
</main>