<main>
	<!-- Start Add Photo Section -->
	<div class="editPage">
		<h2>Edit photo</h2>
		<!-- Start Add Photo Form -->
		<form action="">
			<p>
				<input type="text" name="" placeholder="Name" value="Sal">
			</p>

			<p>
				<input type="number" name="" placeholder="Age" value="4">
			</p>

			<p>
				<textarea type="text" name="" placeholder="Description">This is my pet!</textarea>
			</p>

			<p>
				<input type="text" name="" placeholder="Location" value="Bansko, Bulgaria">
			</p>

			<p>
				<input type="text" name="" placeholder="Link to image" value="/static/images/axolotl.jpeg">
			</p>
			<!-- Add Photo Button -->
			<button class="edit-btn" type="submit">Edit Photo</button>
		</form>
	</div>
</main>