<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page - Crypto Web</title>
	<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
	<header class="header">
		<nav>
			<img src="/static/images/logo.png" class="logo">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/crypto/catalog">All Crypto</a></li>
				{{#if isAuthenticated}}
				<li><a href="/crypto/search">Search</a></li>
				<li><a href="/crypto/create">Create Offer</a></li>
				<li><a href="/logout">Logout</a></li>
				{{else}}
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
				{{/if}}
			</ul>
		</nav>
	</header>
	
	{{#if error}}
	<div>
		<div class="errorContainer">
			<p>{{error}}</p>
		</div>
	</div>
	{{/if}}

	{{{body}}}

	<footer>
		<p>Back-End 2022</p>
	</footer>

</body>

</html>